.corpoDieta-lista {
  margin: 0px 20vw 0px 20vw;
}


.ContainerListaIngredientes {
  height: 50vh;
  overflow-y: auto;
  background: #1f5fa4;
  color: white;
  font-size: 26px;
}



.nomeDieta {
  position: absolute;
  margin: 30px 0px 9px 0px 0px;
  height: 3vh;
  /* background-color: blue; */
  /* width: 60vw; */
  /* color: white; */
  font-size: 36px;
  font-family: overpass;
  font-weight: bold;
}

.nomeDieta h1 {
  padding: 0px 0px 0px 30px;
}


.dietaImage-painel {
  background-size: cover;
  height: 300px;
  width: 60%;
  min-width: 500px;
  margin-left: 20px;
}

.descricao-da-dieta {
  text-align: left;
  /* margin-left: 20px; */
  width: 40%;
  /* height: 24vh; */
  margin: 20px 20px 20px 20px;
  font-size: 26px;
  font-family: 'Overpass';
}

.containerModal-lista-todos-dietas {
  font-family: overpass;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  height: 40vh;
  overflow-y: auto;
}




.imageDieta-lista {
  /* height: auto; */
  height: 15vh;
  /* width: vw; */
  background-size: cover;
}

.modal-lista {
  display: flex;
  overflow-y: auto;
  height: 51vh;
  background-color: #8C8C8C;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0px 0px 0px;

}

