.info-dieta {
  background: #2f3b47 !important;
  color: white !important;
  font-weight: lighter !important;
  font-size: 42px !important;
  height: 5vh;
  display: flex;
  /* font-size: 32px; */
  padding: 0px 0px 0px 30px;
  align-items: center;
  justify-content: center;
  font-family: overpass;
  font-weight: bolder;
}

.lista-dieta {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 0px 0px 1.5vh 0px;
  width: 100%;
  /* font-size: 22px; */
  background: #607860;
  color: white;
  align-items: flex-start;

}

.imagem-cover-dieta {
  background-image: url(http://localhost:3000/static/media/exercioCardio.a625918….jpg);
  display: flex;
  /* height: auto; */
  /* width: auto; */
  /* max-width: 126px; */
  width: 268px;
  /* max-height: 126px; */
  flex-direction: column;
}

.dieta-image-lista {
  height: 30vh;
  width: 59.5vw;
  background-size: cover;
}

.descricao-dieta {
  text-align: left;
  /* margin-left: 20px; */
  width: 80%;
  display: flex;
  background-color: #344134;
  height: 14vh;
  /* padding: 0px 36px 0px 20px; */
  margin: -30px 0px 3px 10%;
  font-size: 28px;
  font-family: "Overpass";
  /* border: crimson; */
  border-radius: 12px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1312px) {
  .dieta-image-lista {
    height: 30vh;
    margin: 0px 20vw 0px 20vw;
    width: 59.5vw;
    background-size: cover;
  }
}