:root {
  --cyan: #5ce1e6;
  --blue: #38b6ff;
  --pink: #d88b92;
  --off-white: #f2f2f2;
  --pure-black: #000000;
  --pure-black-transparent: #000000b2;
  --dark-color: #333333;
  --btn-green: #27ae60;
  --font-defaut: "Roboto Mono", monospace;
  --font-dark-color: #383838;
  --purple: #5662b7;
  --light-color: #f2f2f2;
  --light-color-2: #8f8f8f;
}

/*mudar para nossas cores ^ */




@font-face {
  font-family: 'Overpass';
  src: local('Overpass'), url(../fonts/Overpass-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}


/*responsivo para header e menu lateral */



/* header __________________________________*/



/*banners________________*/


.container-home {
     /* z-index: 1; */
    /* margin: 82px 7vw 0 7vw; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.banner1-home {
  object-fit: cover;
  width: 100%;
  height: 800px;
}

.container-home-texto {
  display: flex;
  margin: 5vh 0px 5vh 0px;
  justify-content: center;
  font-size: 42px;
  font-family: Rubik;
  font-weight: 600;

}

a {
  color: #3B24AD;

}

.banner3-home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.banner3-exercicio-home {
  object-fit: cover;
  width: 100%;
  margin: 0vh 0px 10vh 0px;

}

.banner4-dietas-home {
  object-fit: cover;
  width: 100%;
  margin: 0vh 0px 20vh 0px;
}

.banner5-sobre-home {
  object-fit: cover;
  width: 100%;

}

.container-opcoes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 20vh;
}

.exericioButton {
  height: 450px;
  object-fit: cover;
}

.dietaButton {
  height: 450px;
  object-fit: cover;

}

.footerBanner{
  width: 100%;

  object-fit: cover;
  object-position: bottom;
} 

@media only screen and (max-width: 900px) {
  .banner1-home {
    object-fit: cover;
    width: 100%;
    height: 450px;
  }

  .container-home {
    z-index: 1;
    margin: 0vh 0vw 0 0vw;
   
    height: 100vh;
  }

  .banner2-home-texto {
    display: flex;
    /* margin: 5vh 0px 5vh 0px; */
    justify-content: center;
    font-size: 36px;
    font-family: Rubik;
    font-weight: 600;
  }


  .banner3-exercicio-home {
    object-fit: cover;
    width: 100%;


  }

  .banner4-dietas-home {
    object-fit: cover;
    width: 100%;
  }

  

}