.bodyTreinoUser {
    margin: 0vh 10vw 0px 15vw;}


#boxCover {
    display: flex;
    /* width: 64px; */
    /* flex-wrap: nowrap; */
    align-content: space-around;
    justify-content: center;
    gap: 210px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px 145px;

}

#imagemTreino {
    height: 140px;
    margin-top: 30px;
}
