.infoExercicio{
    background: blue;
    color: white;
    font-weight: lighter;
}

.exercicio-lista{
    display: flex;
    flex-flow: row wrap;
    /* gap: 40px; */
    background-color: #8c8c8c;
    justify-content: space-evenly;
    padding: 20px 0px 0px 0px;
}