.bodyUser {
    margin: 0vh 10vw 0px 10vw;}


#boxCover {
    display: flex;
    /* width: 64px; */
    /* flex-wrap: nowrap; */
    align-content: space-around;
    justify-content: center;
    gap: 210px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px 145px;

}

#imagemTreino {
    height: 140px;
    margin-top: 30px;
}

.bannerUser{
    width: 100%;

    object-fit: cover;
    margin: 8vh 0px 0px 0px;
}

.containerBanner{
    margin: 0px 0vw -1vh 0vw;
}


@media only screen and (max-width: 1312px) {

    .bodyUser {
        margin: 0vh 0vw 0px 0vw;}
  
  }